<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <logger name="org.apache.kafka" level="warn"/>
    <!-- disable "Failed to delete the state directory" -->
    <logger name="org.apache.kafka.streams.processor.internals.StateDirectory" level="off"/>
    <logger name="org.djar" level="debug"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
